.react-modality-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.react-modality-content {
    position: absolute;
    top: 60%;
    left: 20px;
    right: 20px;
    bottom: 0;
    border: 1px solid rgb(204, 204, 204);
    background: white;
    overflow: auto;
    border-radius: 16px 16px 0 0;
    outline: none;
    border-bottom: none;
    touch-action: none;
    user-select: none;
    -ms-touch-select: none;
}
